@page
@model web_app.Pages.CommandModel

<div>
    <execute-command-form commandName="@Model.Command.Name" required="@Model.Command.RequiredPropertiesToJson()" optional="@Model.Command.OptionalPropertiesToJson()"></execute-command-form>
</div>
