@page
@model IndexModel

<div class="text-center">
    <h1 class="display-4">Available commands</h1>
    
    <div class="d-flex justify-content-start">
        @foreach (var commandName in Model.AvailableCommandNames)
            {
                <div>
                    <a asp-page="command" asp-route-name="@commandName">@commandName</a>
                </div>
            }
    </div>

</div>